<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./grid.css">
</head>
<body>
<div class="wrapper">
  <div class="wrapper__content">
    <div class="header">
      <div class="header__logo"></div>
      <div class="header__nav"></div>
      <div class="header__slide">
        <div></div>
      </div>
    </div>
  </div>
  <div class="wrapper__content">
    <div class="welcome">
      <h2>Welcome</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae consequatur distinctio ducimus earum eius exercitationem, id in inventore libero mollitia natus nemo officiis, optio placeat possimus praesentium quisquam sunt!</p>
      <div class="welcome__btn">
        <button>Hello</button>
        <button>World</button>
      </div>
    </div>
  </div>
  <div class="wrapper__content">
    <ul class="gallery">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="wrapper__content">
    <div class="contact">
      <ul class="contact__info">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <form action="" class="contact__form">
        <div>
          <input type="text">
        </div>
        <div>
          <input type="text">
        </div>
        <div class="contact__form__subject">
          <input type="text">
        </div>
        <div class="contact__form__content">
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="contact__form__submit">
          <button></button>
        </div>
      </form>
    </div>
  </div>
  <div class="wrapper__content">
    <div class="footer">
      <p>Copyright (c) All Right Reserved.</p>
    </div>
  </div>
</div>
</body>
</html>